button{
    background-color: blue;
    color: white;
    padding: 1em 2rem;
    border-radius: 1rem;
}
*{
    margin: 0;
}





.banner-contenar{
    background-image: url(/B12A01-landing-launchpad-main/Assets/Hero-bg.png);
    height: 698px;
    /* position: absolute; */
    width: 100%;
    margin-top: 0;
    padding-top: 2rem;
}
.banner{
    width: 1140px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
    
}
.nav a {
color: blue;
font-size: 34px;
font-weight: 900;
text-decoration: none;
}
.banner-text{
    width: 905px;
height: 152px;
text-align: center;
margin: 9em auto;
}

.banner-text h1{
    font-size: 65px;
font-weight: 700;
margin-bottom: 3rem;
}
.action-contenar{
    
    width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom:100px;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    justify-content: space-between;
}
.action-contenar-left-side{
    width: 517px;
 
  
    
}
.action-contenar-left-side h1{
    font-size: 42px;
font-weight: 700;
margin-bottom: 1.5rem;
}
.action-contenar-left-side p{
color: rgba(37, 36, 50, 0.5);
font-size: 24px;
font-weight: 400;
margin-bottom: 1.5rem;
}
.action-contenar img{
    border-radius: 2rem;
}
.productive_user{
    width: 1140px;
    margin: 0 auto;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px;
    border-radius: 24px;
    text-align: center;
}
.productive_user-contenar{
    display: flex;
    justify-content: space-around;
}
.productive_user h1{
font-size: 38px;
font-weight: 700;
}
.productive_user-contenar h1{
font-size: 80px;
font-weight: 800;
color: blue;
margin: 0 auto;
}
.productive_user-contenar p{
    color: rgba(37, 36, 50, 0.5);
}
.Touch-Section{
    width: 1140px;
    height: 632px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Touch-Section h1{
    font-size: 120px;
font-weight: 800;
}
.Touch-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    
}
.Touch-input input{
    margin-top:0;
    padding: 1rem;
    width: 22rem;
    border-radius: 1rem;
    
}
#input-massage{
    padding-bottom: 60px;
}
.footer-section{
    width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 100px;
    width: 531px;
    height: 177px;
}
.footer-section h1{
    font-size: 100px;
font-weight: 900;
color: blue;
padding: 1rem;
}
.footer-section p{
    padding: 1rem;
color: rgb(137, 135, 161);
}
.footer-section a{
    text-decoration: none;
    padding: 1rem;
    color: rgb(137, 135, 161);
}
